<nav class="menu-contextual">
  <ul class="list-inline text-center">
    <li ng-if="!datos.form && puedePasar([permisos.laboratorio])">
      <button class="btn btn-primary" ng-click="datos.form = true"><i class="fa fa-fw fa-file"></i> <span class="hidden-xs">Nuevo</span></button>
    </li>
    <li ng-if="datos.form && puedePasar([permisos.laboratorio])">
      <button class="btn btn-default" ng-click="cancelar()"><i class="fa fa-fw fa-ban"></i> <span class="hidden-xs">Cancelar</span></button>
    </li>
  </ul>
  <hr class="colorgraph">
</nav>
<section class="fondoMedico margin-bottom">
  <h1 class="titulo"><i class="fa fa-cubes fa-fw"></i> Tipos de Procedimientos</h1>
</section>
<section class="container-fluid">
  <ul class="list-inline text-center hidden-xs hidden-sm" ng-if="puedePasar([permisos.laboratorio])">
    <li ng-if="!datos.form"><div cis-tecla="mod+shift+enter" tipo="primary" accion="Nuevo"></div></li>
    <li ng-if="datos.form"><div cis-tecla="mod+backspace" tipo="default" accion="Cancelar"></div></li>
  </ul>
  <div class="row">
    <div class="col-sm-2 dimensiones">
      <div cis-dimensiones="{{datos.dimensiones}}" actuales="datos.tipos.dimensiones"
      on-change="aplicarDimension(dimensiones)" cargando="datos.cargando"></div>
    </div>
    <div class="col-sm-10">
      <div class="form-nuevo form-nuevo-success" ng-if="datos.form && puedePasar([permisos.laboratorio])">
        <h5>Digite los datos solicitados</h5>
        <form novalidate name="form" ng-submit="guardar(datos.temp)">
          <div class="row">
            <div class="col-sm-3 form-group"
            ng-class="{'has-error':form.nombre.$invalid && form.nombre.$dirty,
            'has-success':form.nombre.$valid && form.nombre.$dirty}">
              <label for="" class="control-label">Nombre</label>
              <input type="text" class="form-control" placeholder="Nombre" name="nombre"
              cis-autofocus
              ng-disabled="datos.cargando"
              ng-required="true"
              ng-model="datos.temp.nombre">
            </div>
            <div class="col-sm-3 form-group"
              ng-class="{'has-error':form.desc.$invalid && form.desc.$dirty,
              'has-success':form.desc.$valid && form.desc.$dirty}">
              <label for="" class="control-label">Descripción</label>
              <input type="text" class="form-control" placeholder="Descripción" name="desc"
              ng-disabled="datos.cargando"
              ng-model="datos.temp.descripcion">
            </div>
            <div class="col-sm-3 form-group" ng-class="{'has-error': form.categoria.$invalid && form.categoria.$dirty, 'has-success': form.categoria.$valid}">
              <label for="" class="control-label">Categoría</label>
              <select class="form-control" name="categoria"
                ng-disabled="cargando"
                ng-change="alert(temp.categoria)"
                ng-options="categoria for categoria in categorias"
                ng-model="datos.temp.categoria"
                ng-required="true">
              </select>
            </div>
            <div class="col-sm-3 form-group">
              <label for="" class="control-label" style="display:block;">&nbsp;</label>
              <button type="submit" class="btn btn-success"
              ng-disabled="datos.cargando || form.$invalid">
              <div cis-cargando modelo="datos.cargando">
                <i class="fa fa-fw fa-download"></i> Guardar
              </div>
            </button>
          </div>
        </div>
</form>
</div>
<p ng-if="!datos.cargando && vacio(datos.tipos.lista)" class="text-center lead">No hay resultados</p>
<section>
  <p class="text-muted">Mostrando: {{datos.tipos.lista.length}} de {{datos.tipos.cantidad}}</p>
  <form novalidate ng-submit="buscar()">
    <div class="form-group">
      <div class="input-group">
        <input type="search" class="form-control" placeholder="Buscar por nombre o descripción"
        ng-model="datos.filtro"
        ng-required="true">
        <span class="input-group-addon"><i class="fa fa-fw fa-search"></i></span>
      </div>
    </div>
  </form>
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Categoría</th>
          <th ng-if="puedePasar([permisos.laboratorio])">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr class="fx-fade-down"
        ng-repeat="tipo in datos.tipos.lista">
        <td data-title="Nombre">{{tipo.nombre}}</td>
        <td data-title="Descripción">{{tipo.descripcion}}</td>
        <td data-title="Categoría">{{tipo.categoria}}</td>
        <td data-title="Acciones" ng-if="puedePasar([permisos.laboratorio])">
          <ul class="list-inline text-center">
            <li><small><i class="fa fa-fw fa-edit fa-2x text-info cursor-pointer" ng-click="editar(tipo)"></i></small></li>
            <li><small><i class="fa fa-fw fa-trash fa-2x text-danger cursor-pointer" ng-click="eliminar(tipo)"></i></small></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <div cis-cargando modelo="datos.cargando" class="text-center">
    <div cis-scroll cargador="cargarMas" umbral="100"
    debe-cargar="(datos.tipos.lista.length < datos.tipos.cantidad) && !datos.cargando"></div>
  </div>
</div>
</section>
</div>
</div>
</section>
