<section>
  <div class="modal-header">
    <h5 class="modal-title">Agregue un mensaje corto adicional para adjuntar al correo.</h5>
  </div>
  <div class="modal-body">
    <div ng-if="datos.expediente.ficha.datosContacto.correos.length === 0">
      <h6><b>El paciente a quien desea envíar el reporte no tiene registrada una dirección de correo electrónico. Por favor agregue una dirección de envío para el paciente.</b></h6>
      <div cis-correos modelo="datos.expediente.ficha.datosContacto.correos"
        editando="true"></div>
    </div>

    <div>
      <h6><b>Marque los contactos a quien desee enviar este correo:</b></h6>

        <div ng-if="datos.expediente.ficha.datosContacto.correos.length > 0">
          <label style="display: block;" ng-init="datos.expediente.ficha.datosContacto.enviarCorreo= true">
            <input type="checkbox" ng-model="datos.expediente.ficha.datosContacto.enviarCorreo" ng-checked="true" checked/>
            {{ datos.expediente.ficha.nombre }} (Paciente) &lt;{{ datos.expediente.ficha.datosContacto.correos[0].correo }}&gt;
          </label>
        </div>


      <label ng-repeat="usuario in datos.usuariosParaCorreos" style="display: block;">
        <input type="checkbox" ng-model="usuario.enviarcorreo" />
        {{ usuario.nombre }} {{ usuario.apellidos }}
        <span ng-if="usuario.tipoUsuario == 'dueno'"> (Usuario dueño) </span>
        <span ng-if="usuario.tipoUsuario == 'autorizado'">(Autorizado) </span>
        &lt;{{ usuario.correo }}&gt;
      </label>
    </div>

    <form role="form" ng-submit="onSubmit()" novalidate name="shareSelectionForm">
      <div ng-class="{'has-error': shareSelectionForm.recipientEmail.$invalid}" class="form-group ">
        <label class="control-label col-sm-3">Otras direcciones adicionales: </label>
        <div class="col-sm-5">
        <input type="text" class="form-control" multiple-emails name="recipientEmail" ng-model="datos.correosAdicionales">
        </div>
      </div>
    </form>
    <br>

    <br>
    <h6 for="" class="control-label" style="clear: both;">Digite el comentario</h6>
    <div text-angular ng-model="datos.comentarioAdicional"></div>
    <cis-archivo-adjunto ng-model="adjuntos" procesando="procesando"></cis-archivo-adjunto>
  </div>
  <div class="modal-footer">

    <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-success" ng-click="ok(datos)" ng-disabled="validarFormularioVacio(datos) || shareSelectionForm.recipientEmail.$invalid || procesando">Aceptar</button>
  </div>
</section>
