<nav class="menu-contextual">
  <ul class="list-inline text-center">
  </ul>
  <hr class="colorgraph">
</nav>
<section class="fondoMedico margin-bottom">
<!--  <div>
    <div class="text-center" style="background-color: #31b0d5; color=#fff;">
      <h5>
          <span class="fa-stack fa-fw faa-horizontal animated">
              <i class="fa fa-exclamation-triangle fa-stack-2x"></i>
              <i class="fa fa-stack-1x"></i>
          </span>
          <strong>Notificación</strong>
      </h5>
      <p>Estamos realizando algunos cambios que te benefician.</p>
      <p>Si encuentras algún problema comunicate al 2251-0384</p>
    </div>
  </div>
-->
  <h1 class="titulo"><i class="fa fa-flask fa-fw"></i> Mis Muestras</h1>
</section>
<section class="container-fluid">
  <div class="row">
    <div class="col-sm-2 dimensiones">
      <div cis-dimensiones="{{datos.dimensiones}}" actuales="datos.muestras.dimensiones"
      on-change="aplicarDimension(dimensiones)" cargando="datos.cargando"></div>
    </div>
    <div class="col-sm-10">
      <form novalidate ng-submit="buscar()">
        <div class="form-group">
          <div class="input-group">
            <input type="search" class="form-control" placeholder="Buscar por paciente o consecutivo"
            ng-model="datos.filtro"
            ng-required="true">
            <span class="input-group-addon"><i class="fa fa-fw fa-search"></i></span>
          </div>
        </div>
      </form>
      <section>
        <p class="text-muted">Mostrando: {{datos.muestras.lista.length}} de {{datos.muestras.cantidad}}</p>
        <div class="table-cascade">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Consecutivo</th>
                <th>Procedimiento</th>
                <th>Paciente</th>
                <th>Estado</th>
                <th>Fecha Toma</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr class="fx-fade-down cursor-pointer"
                ng-repeat="muestra in datos.muestras.lista">
                <td data-title="Consecutivo" ng-click="location.path('/inicio/pacientes/muestras/' + muestra.id)">{{muestra.numero}}</td>
                <td data-title="Procedimiento" ng-click="location.path('/inicio/pacientes/muestras/' + muestra.id)">{{muestra.procedimiento.nombre}}</td>
                <td data-title="Paciente" ng-click="location.path('/inicio/pacientes/muestras/' + muestra.id)">{{muestra.paciente.nombre}}</td>
                <td data-title="Estado" ng-click="location.path('/inicio/pacientes/muestras/' + muestra.id)"><span ng-class="{
                  'En espera':'text-danger',
                  'Registrada':'text-info',
                  'En análisis':'text-warning',
                  'Completada':'text-success',
                'En diagnostico':'text-primary'}[muestra.estado]">{{(muestra.estado === "En diagnostico" && muestra.diagnosticada) && "Diagnosticada" || muestra.estado}}</span></td>
                <td data-title="Fecha Toma" ng-click="location.path('/inicio/pacientes/muestras/' + muestra.id)">{{muestra.fechaToma | Fecha:"L"}}</td>
                <td data-title="Acciones" ng-if="puedePasar([permisos.laboratorio, permisos.digitador, permisos.medico, permisos.patologo, permisos.histotecnologo, permisos.citotecnologo])">
                  <ul class="list-inline text-center">
                    <li ng-if="muestra.estado === 'Completada'"
                    ><small><a href="/inicio/pacientes/muestras/{{muestra.id}}/diagnostico/reporte"><i ng-class="muestra.tieneLesion? ' fa fa-fw fa-file fa-2x text-danger cursor-pointer' : 'fa fa-fw fa-file fa-2x text-success cursor-pointer'"
                    ng-click=""></i></a></small></li>

                    <li ng-if="muestra.estado === 'Completada' && muestra.enviada === true">
                      <small>
                        <span class="fa-stack" ng-click="completar(muestra)">
                          <i class="fa fa-fw fa-envelope fa-2x text-success cursor-pointer"></i>
                          <i class="fa fa-check fa-stack-1x fa-inverse" ng-click="enviarCorreoConComentario(muestra)"></i>
                        </span>
                      </small>
                    </li>
                    <li ng-if="muestra.estado === 'Completada' && muestra.enviada == false">
                      <small><a><i class="fa fa-fw fa-envelope fa-2x text-success cursor-pointer" ng-click="enviarCorreoConComentario(muestra)"></i></a></small>
                    </li>

                  </ul>
                </td>
              </tr>
              <tr ng-if="vacio(datos.muestras.lista)" class="text-center">
                <td colspan="8"><strong>No hay resultados</strong></td>
              </tr>
            </tbody>
          </table>
          <div cis-cargando modelo="datos.cargando" class="text-center">
            <div cis-scroll cargador="cargarMas" umbral="50"
            debe-cargar="(datos.muestras.lista.length < datos.muestras.cantidad) && !datos.cargando"></div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<script type="text/ng-template" id="mensajeCortoCorreoMuestras.html">
    <div class="modal-header">
      <h5 class="modal-title">Agregue un mensaje corto adicional para adjuntar al correo.</h5>
    </div>
    <div class="modal-body">
      <div ng-if="datos.expediente.ficha.datosContacto.correos.length === 0">
        <h6><b>El paciente a quien desea envíar el reporte no tiene registrada una dirección de correo electrónico. Por favor agregue una dirección de envío para el paciente.</h6>
        <div cis-correos modelo="datos.expediente.ficha.datosContacto.correos"
          editando="true"></div>
      </div>
      <br>

      <div>
        <h6><b>Marque los contactos a quien desee enviar este correo:</h6>

          <div ng-if="datos.expediente.ficha.datosContacto.correos.length > 0">
            <label style="display: block;" ng-init="datos.expediente.ficha.datosContacto.enviarCorreo= true">
              <input type="checkbox" ng-model="datos.expediente.ficha.datosContacto.enviarCorreo" ng-checked="true" checked/>
              {{ datos.expediente.ficha.nombre }} (Paciente) <{{ datos.expediente.ficha.datosContacto.correos[0].correo }}>
            </label>
          </div>


        <label ng-repeat="usuario in datos.usuariosParaCorreos" style="display: block;">
          <input type="checkbox" ng-model="usuario.enviarcorreo" />
          {{ usuario.nombre }} {{ usuario.apellidos }}
          <span ng-if="usuario.tipoUsuario == 'dueno'"> (Usuario dueño) </span>
          <span ng-if="usuario.tipoUsuario == 'autorizado'">(Autorizado) </span>
          <{{ usuario.correo }}>
        </label>
      </div>

      <form role="form" ng-submit="onSubmit()" novalidate name="shareSelectionForm">
        <div ng-class="{'has-error': shareSelectionForm.recipientEmail.$invalid}" class="form-group ">
          <label class="control-label col-sm-3">Otras direcciones adicionales: </label>
          <div class="col-sm-5">
          <input type="text" class="form-control" multiple-emails name="recipientEmail" ng-model="datos.correosAdicionales">
          </div>
        </div>
      </form>
      <br>

      <br>
      <h6 for="" class="control-label" style="clear: both;">Digite el comentario</h6>
        <div text-angular ng-model="datos.comentarioAdicional"></div>
        <cis-archivo-adjunto ng-model="adjuntos" procesando="procesando"></cis-archivo-adjunto>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
      <button class="btn btn-success" ng-click="ok(datos)" ng-disabled="validarFormularioVacio(datos) || shareSelectionForm.recipientEmail.$invalid || procesando">Aceptar</button>
    </div>
  </script>
