<nav class="menu-contextual">
  <ul class="list-inline text-center">
    <li ng-if="tabs[0].activo">
      <button class="btn btn-info" ng-disabled="vacio(seleccionadas(datos.muestras.lista))" ng-click="seleccionar(seleccionadas(datos.muestras.lista))">
        <i class="fa fa-fw fa-sitemap"></i> <span class="hidden-xs hidden-sm">Agrupar</span>
      </button>
    </li>
    <li ng-if="tabs[1].activo">
      <button class="btn btn-success" ng-disabled="!datos.agrupacion" ng-click="facturar(datos.agrupadas)" cis-cargando modelo="datos.cargando">
        <i class="fa fa-fw fa-money"></i> <span class="hidden-xs hidden-sm">Facturar</span>
      </button>
    </li>
    <li ng-if="tabs[2].activo && !vacio(datos.facturasGeneradas)">
      <button class="btn btn-primary" ng-disabled="vacio(noProcesadas(datos.facturasGeneradas))"
      ng-click="aceptarTodas(datos.facturasGeneradas)">
        <i class="fa fa-fw fa-check"></i> <span class="hidden-xs hidden-sm">Aceptar Todas</span>
      </button>
    </li>
  </ul>
  <hr class="colorgraph">
</nav>
<section class="fondoMedico margin-bottom">
  <h1 class="titulo"><i class="fa fa-calculator fa-fw"></i> Muestras no facturadas</h1>
  <div class="ciris-tabs">
    <tabset>
      <tab ng-repeat="tab in tabs" active="tab.activo" disabled="tab.inhabilitado">
        <tab-heading ng-swipe-left="siguiente()" ng-swipe-right="anterior()">
        <i class="fa fa-fw {{tab.icono}}"></i> <span class="hidden-xs">{{tab.titulo}}</span>
      </tab-heading>
      <div class="container-fluid fondoBlanco">
      <br>
        <div ng-include="tab.contenido"></div>
      </div>
    </tab>
  </tabset>
</div>
</section>