<nav class="menu-contextual hidden-print" ng-if="datos.isPrivado">
  <ul class="list-inline text-center" ng-if="datos.muestra !== 404">
    <li ng-if="!datos.muestra.diagnostico.editando">
      <button class="btn btn-default btn-sm" cis-atras>
        <i class="fa fa-fw fa-reply"></i><span class="hidden-xs hidden-sm">Atrás</span>
      </button>
    </li>
  </ul>
  <hr class="colorgraph">
</nav>

<div ng-switch on="datos.muestra.template">
  <div id="default-template" ng-switch-when="default" style="height: {{height}}px; position:relative;">
    <img src="/recursos/imagenes/Mebrete_HistoCito_OUT-01_top.png" width="100%" />
    <main class="container-fluid reporte">
      <ul class="list-inline text-center hidden-xs hidden-sm" style="position: relative; bottom: 200px;">
        <li><div cis-tecla="mod+p" tipo="info" accion="Imprimir"></div></li>
      </ul>
      <header class="text-center">
        <h3 style="margin-top: 6px;">Diagnóstico de la Muestra #{{datos.muestra.consecutivo}}</h3>
        <h4 ng-if="datos.tipo.categoria !== 'Biopsia'">{{datos.procedimiento.alias}}</h4>
        <small>{{datos.muestra.fechaToma | Fecha:"LL"}}</small>
      </header>
      <small>
        <div class="row">
          <div class="col-xs-6">
            <legend>Paciente</legend>
            <div>
              <small><strong>Nombre: </strong>{{datos.expediente.ficha.nombre}}</small>
            </div>
            <div>
              <small><strong>Edad: </strong>{{datos.expediente.ficha.fechaNacimiento | Edad }}</small>
            </div>
            <div ng-if="datos.expediente.ficha.cedula">
              <small><strong>Cédula: </strong>{{datos.expediente.ficha.cedula}}</small>
            </div>
            <div>
              <small><strong>Sexo: </strong>{{datos.expediente.ficha.sexo}}</small>
            </div>
            <div ng-if="datos.expediente.ficha.datosContacto.telefonos">
              <ul class="list-unstyled">
                <li ng-repeat="tel in datos.expediente.ficha.datosContacto.telefonos | filter:{tipo:'Principal'}">
                  <i class="fa fa-fw fa-phone"></i> {{tel.numero}}
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-6" ng-if="datos.medico || datos.clinica">
            <legend>Médico</legend>
            <div ng-if="datos.medico && datos.medico.nombreCompleto">
              <small ng-bind="datos.medico.nombreCompleto"></small>
            </div>
            <div ng-if="datos.clinica && datos.clinica.nombre">
              <small ng-bind="datos.clinica.nombre"></small>
            </div>
          </div>
        </div>
        <hr>
      </small>
      <div ng-switch="datos.tipo.categoria">
        <div ng-switch-when="Citología">
          <div ng-include="'pacientes/diagnosticos/htmls/citologico.html'"></div>
        </div>
        <div ng-switch-when="Citología no ginecológica">
          <div ng-include="'pacientes/diagnosticos/htmls/noginecologica.html'"></div>
        </div>
        <div ng-switch-when="Biopsia">
          <div ng-include="'pacientes/diagnosticos/htmls/biopsia.html'"></div>
        </div>
        <div ng-switch-when="Patología molecular">
          <div ng-include="'pacientes/diagnosticos/htmls/molecular.html'"></div>
        </div>
      </div>
      <section ng-if="datos.patologo && datos.patologo.firma">
        <br>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4" ng-if="datos.patologo.urlFirma">
            <img src="{{datos.patologo.urlFirma}}" alt="" class="img-responsive img-thumbnail center-block" style="border:none; border:0;">
          </div>
          <div class="col-xs-8 col-xs-offset-2">
            <textarea  class="form-control text-center" style="border:none; border:0; line-height: 1.1; font-size: 13px;"
              rows="5" cols="40"
              ng-model="datos.patologo.firma.texto" ng-disabled="true"></textarea>
          </div>
        </div>
      </section>
    </main>
    <img class="membrete-footer-img" src="/recursos/imagenes/Mebrete_HistoCito_OUT-01_bottom.png" width="100%" />
  </div>

  <div ng-switch-when="lab-mendez" class="lab-mendez">
    <ul class="list-inline text-center hidden-xs hidden-sm">
      <li><div cis-tecla="mod+p" tipo="info" accion="Imprimir"></div></li>
    </ul>
    <!--encabezado del machote-->
    <div class="encabezado labmendez-head">
      <div class="row">
        <div class="text-center">
          <img src="/recursos/imagenes/laboratorio-mendez.png" style="max-height: 110px">
          <hr style="height: 2px; border-top:2px solid #1DAABB !important; ">
        </div>
        <div class="text-center">
          <p style="color: #1DAABB !important;">RESULTADOS DE ANÁLISIS DE LABORATORIO</p>
        </div>

        <table class="table" style="margin: 23px 0 !important; border-bottom: 2px solid #265968 !important;">
          <tbody>
            <tr>
              <td style="border-top: none !important;">Nombre: {{datos.expediente.ficha.nombre}}</td>
              <td style="border-top: none !important;">N° muestra: {{datos.muestra.consecutivo}}</td>
              <td style="border-top: none !important;">Fecha análisis: {{datos.muestra.fechaToma | Fecha:"LL"}}</td>
            </tr>
            <tr>
              <td style="border-top: none !important;">N° Identificación: {{datos.expediente.ficha.cedula}}</td>
              <td style="border-top: none !important;">Género: {{datos.expediente.ficha.sexo}}</td>
              <td style="border-top: none !important;">Fecha Nacimiento: {{datos.expediente.ficha.fechaNacimiento | date:'MM/dd/yyyy' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <section style="background-image: url('/recursos/imagenes/laboratorio-mendez-background.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-position: center; ">

      <div class="text-center">
        <p style="color: #1DAABB !important;">Dra. Méndez Rodríguez M.Q.C. 1623</p>
      </div>
      <div ng-switch="datos.tipo.categoria" class="labmendez-body">
        <div ng-switch-when="Citología">
          <div ng-include="'pacientes/diagnosticos/htmls/citologico.html'"></div>
        </div>
        <div ng-switch-when="Citología no ginecológica">
          <div ng-include="'pacientes/diagnosticos/htmls/noginecologica.html'"></div>
        </div>
        <div ng-switch-when="Biopsia">
          <div ng-include="'pacientes/diagnosticos/htmls/biopsia.html'"></div>
        </div>
        <div ng-switch-when="Patología molecular">
          <div ng-include="'pacientes/diagnosticos/htmls/molecular.html'"></div>
        </div>
      </div>
      <section ng-if="datos.patologo && datos.patologo.firma">
        <br>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4" ng-if="datos.patologo.urlFirma">
            <img src="{{datos.patologo.urlFirma}}" alt="" class="img-responsive img-thumbnail center-block" style="border:none; border:0;">
          </div>
          <div class="col-xs-8 col-xs-offset-2">
            <textarea  class="form-control text-center" style="border:none; border:0; line-height: 1.1; font-size: 13px;"
              rows="5" cols="40"
              ng-model="datos.patologo.firma.texto" ng-disabled="true"></textarea>
          </div>
        </div>
      </section>
    </section>

    <section style="text-align:center;background-color: #f1f1f1 !important;">
      <img src="/recursos/imagenes/laboratorio-mendez-footer.jpg" style="width: 100% !important;">
    </section>
  </div>
</div>
