<nav class="menu-contextual">
  <ul class="list-inline text-center">
    <li>
      <button class="btn btn-success" ng-click="vm.convertirAMuestras()">
        <i class="fa fa-fw fa-exchange"></i>
        <span class="hidden-xs">Convertir a muestras</span>
      </button>
    </li>
  </ul>
  <hr class="colorgraph">
</nav>
<section class="fondoMedico margin-bottom">
  <h1 class="titulo"><i class="fa fa-bell fa-fw"></i> Solicitudes</h1>
</section>
<section class="container-fluid">
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr class="fx-fade-down"
        ng-repeat="sol in vm.solicitudes.docs track by $index">
          <td data-title="Nombre">{{sol.nombre}}</td>
        </tr>
        <tr ng-if="vm.solicitudes.cant === 0">
          <td class="text-center"><strong>No hay resultados</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
