<nav class="menu-contextual">
  <ul class="list-inline text-center">
    <li ng-if="vm.mostrarBtnConvertir">
      <button class="btn btn-success" ng-click="vm.convertirAMuestras(vm.solicitudes.docs)">
        <i class="fa fa-fw fa-exchange"></i>
        <span class="hidden-xs">Convertir</span>
      </button>
    </li>
  </ul>
  <hr class="colorgraph">
</nav>
<section class="fondoMedico margin-bottom">
  <h1 class="titulo"><i class="fa fa-bell fa-fw"></i> Solicitudes</h1>
</section>
<section class="container-fluid">
  <div ng-include="'pacientes/solicitudes/htmls/seleccionar.html'"></div>
</section>
