<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>
          <input type="checkbox" ng-model="vm.checkTodos" ng-change="vm.seleccionarTodo(vm.solicitudes.docs, vm.checkTodos)">
        </th>
        <th>Procedimiento</th>
        <th>Paciente</th>
        <th>Médico</th>
        <th>Fecha Toma</th>
      </tr>
    </thead>
    <tbody>
      <tr class="fx-fade-down"
      ng-repeat="sol in vm.solicitudes.docs track by $index">
        <th>
          <input type="checkbox" ng-model="sol.seleccionado" ng-change="vm.setMostrarBtnConvertir(vm.solicitudes.docs)">
        </th>
        <td data-title="Procedimiento">{{sol.procedimiento}}</td>
        <td data-title="Paciente">{{sol.paciente.nombre}}</td>
        <td data-title="Médico">{{sol.medico}}</td>
        <td data-title="Fecha Toma">{{sol.fechaToma | Fecha:'LL'}}</td>
      </tr>
      <tr ng-if="vm.solicitudes.cant === 0">
        <td colspan="4" class="text-center"><strong>No hay resultados</strong></td>
      </tr>
    </tbody>
  </table>
  <div cis-cargando modelo="vm.cargando" class="text-center">
    <div cis-scroll cargador="vm.cargarMas" umbral="100"
    debe-cargar="(vm.solicitudes.docs.length < vm.solicitudes.cant) && !vm.cargando"></div>
  </div>
</div>
