<div>
  <div class="modal-header">
    <h5 class="modal-title">Informe Ministerio de Salud</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <label class="control-label">Fecha de inicio</label>
        <datepicker ng-model="form.fechaInicio" show-weeks="false"></datepicker>
      </div>
      <div class="col-md-6">
        <label class="control-label">Fecha de fin</label>
        <datepicker ng-model="form.fechaFin" show-weeks="false"></datepicker>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancelar()">Cancelar</button>
    <button class="btn btn-success" ng-click="ok(form)" ng-disabled="cargando">
      <div ng-if="cargando">
        <i class="fa fa-spinner fa-spin"></i>
        <span>Generando</span>
      </div>
      <div ng-if="!cargando">
        <span>Generar</span>
      </div>
    </button>
  </div>
</div>
