<div class="input-group">
<input type="text" class="form-control" name="busqueda" placeholder="Buscar por nombre o cédula"
typeahead="expediente as expediente.nombre for expediente in buscar($viewValue)"
ng-model="paciente"
typeahead-min-length="3"
typeahead-editable="false"
typeahead-on-select="enSeleccion($item)"
typeahead-wait-ms="300"
typeahead-focus-first="false"
typeahead-template-url="plantillaPaciente.html"
>
<span class="input-group-btn">
  <button type="button" class="btn btn-danger" ng-click="limpiar(); $event.stopPropagation();"><i class="fa fa-fw fa-eraser"></i> Limpiar</button>
</span>
</div>
<div cis-cargando modelo="buscando"></div>

<script type="text/ng-template" id="plantillaPaciente.html">
  <a>
    <strong>{{match.model.nombre}}</strong>
    <small class="text-info"> {{match.model.cedula}} </small>
    <small ng-if="match.model.fechaNacimiento"> - {{match.model.fechaNacimiento | Edad}}</small>
  </a>
</script>
